
#top {
    
    height: 100px;
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    
}

#content {
    min-height: 400px;
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
    overflow:hidden;
    zoom:1;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}


#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

ul.menu {
    text-decoration: none;
    padding: 5px;
    list-style-type: none;
}

ul.menu2 {
    text-decoration: none;
    padding: 0px 5px 5px;
    list-style-type: none;
}





p.top_content {
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}


#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


