#content_w_stronie {
    padding: 5px;
    
    background-color: #e3e3e3;
    
}

#content_w_stronie.left {
    /*o 15px wiecej nic #content_w_stronie.right*/ 
    margin-right: 265px;  
    
    
    
}

#content_w_stronie.left h1.tytul {
    font-size: 20px;
    color: black;
    font-weight: bold; 
    text-decoration: none;
}

#content_w_stronie.left .podTytulem {
    font-size: 15px;
}

#content_w_stronie.left .podTytulem > img {
    vertical-align: middle;
}


#content_w_stronie.left img.przedmiot {
    width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#content_w_stronie.right {
    float: right;
    width: 250px;
}



#content_w_stronie.right .cena {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

#content_w_stronie.right .poPrawej {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}

#content_w_stronie.right .adres {
    height: 80px;
    line-height: 80px;
}

#content_w_stronie.right .sprzedajacy {
    height: 40px;
    
    font-size: 15px;
}

#content_w_stronie.right .okraglaRamka {
    margin: 10px;
    
    border: 0px;
    border-color: #ece3a5;
    border-radius: 15px;
    background-color: #ece3a5;
    
    width: 240px;
    
    
    text-align: center;
    
}

